{% extends '../meme_app/base.html' %}
{% block title_block %}
	Change Password
{% endblock %}
{% block body_block %}
<div class="form fade-in narrow-form">
	<h3>Forgot password</h3><br>
	{% if validlink %}
	<form method="post">
		{% csrf_token %}
		<input name="new_password1" class="form-control" placeholder="New password" type="password" required="true"> <br>
		<input name="new_password2" class="form-control" placeholder="Confirm password" type="password" required="true"> <br>
		{% for cur in form %}
			{% for err in cur.errors %}
				<div class="alert alert-danger">
					<a class="close" href="#" data-dismiss="alert">×</a>
					{{ err }}
					</div>
			{% endfor %}
		{% endfor %}
		<button type="submit" class="btn btn-success btn-block">Confirm</button>
	</form>
	{% else %}
	<p>The link supplied is invalid. If you copied and pasted the link please try again and make sure you copy the whole link.</p>
	{% endif %}
	</div>
{% endblock %}