{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	Homepage
{% endblock %}

{% block body_block%}

<div class = "form wide-form fade-in">
	<h1>Welcome</h1>
</div>

<div class = "form wide-form fade-in">
	<h1>Meme of the Day</h1>
</div>

{% if trending_meme %}
	<div class = "form wide-form fade-in">
		<h3>{{trending_meme.name}}</h3>
		{% include 'meme_app/meme_frame.html' with memes = trending_meme %}
	</div>
{% else %}
	<div id="trending" class="form wide-form fade-in">
		<strong>Currently no meme of the day.</strong>
	</div>
{% endif %}

<div class = "form wide-form fade-in">
	<h1>Popular Today</h1>
</div>

{% if popular_memes %}
	{% for meme in popular_memes %}
		<div class = "form wide-form fade-in">
			<h3>{{meme.name}}</h3>
			{% include 'meme_app/memeview.html' with memes = meme.memes %}
		</div>
	{% endfor %}
{% else %}
	<div id="trending" class="form wide-form fade-in">
		<strong>Currently no popular memes.</strong>
	</div>
{% endif %}
	
<div class = "form wide-form fade-in">
	<a href={%url 'about'%}>About</a> &copy2020
</div>

{%endblock%}
