{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	Homepage
{% endblock %}

{% block body_block%}
<div class = "form wide-form fade-in">
		<h1>Welcome</h1>
</div>

<div class = "form wide-form fade-in">
		<h1>Meme of the day</h1>
		{% include 'meme_app/meme_frame.html'%} 
</div>

<div class = "form wide-form fade-in">
		<h1>Popular Today</h1>
		{% include 'meme_app/memeview.html' %}
</div>

<div class = "form wide-form fade-in">
			<a href={%url 'about'%}>About</a> &copy2020
</div>
{%endblock%}
