{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	Meme creator
{% endblock %}

{% block body_block%}
	<div class = "form wide-form fade-in">
		<h1>Meme Creator</h1>
		<hr>
		<form id='meme_form' method='post' action="{% url 'meme_creator' %}">
		{% for message in messages %}
			<div class="alert alert-danger">
				<a class="close" href="#" data-dismiss="alert">×</a>
	      {{ message }}
			</div>
		{% endfor %}
		{% csrf_token %}
			<div class="form-group">
		     <p id="regPageText">Meme's title:</p>
		     {{ meme_form.title }}
	   	</div>
			<div class="form-group">
		    <p id="regPageText">Choose main category:</p>
		    {{ meme_form.category }}
		  </div>
			{% if user_age >= 18 %}
				<div class = "form-check">
				 	{{ meme_form.nsfw }}
				  <label class = "form-check-label" for="isOver18" > Is this meme NSFW? </label>
			  </div>
			{% endif %}
			<hr>
			<h2>Meme Designer</h2>
			<div id="memeCreator">
      	<label for="uploadImage">Please upload an image:</label>
	      <input type="file" accept="image/*" class="form-control-file" id="uploadImage">
				<br>
				<div class="row">
					<div class="col">
			      <div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text">Enter top text</span>
			        </div>
			        <input id="top" class="form-control" placeholder="Top text"></input>
			      </div>
					</div>
					<div class="col">
			      <div class="input-group">
			        <div class="input-group-prepend">
			          <span class="input-group-text">Enter bottom text</span>
			        </div>
			        <input id="bottom" class="form-control" placeholder="Bottom text"></input>
			      </div>
					</div>
				</div>
				<br>
				<div class="row">
		      <div class="input-group">
			        <div class = "col">
			          <div class="input-group">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Font size</span>
			            </div>
			            <input class="form-control" type="number" value="12" min="7" max="72" id="fontSize">
			          </div>
			        </div>
			        <div class = "col">
			          <div class="input-group">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Font type</span>
			            </div>
			            <select class="form-control" style="-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;" id="fontType">
		                <option value="Arial Black">Arial Black</option>
		                <option value="Roboto">Roboto</option>
		                <option value="Times">Times</option>
		                <option value="Georgia">Georgia</option>
		                <option value="Bookman">Bookman</option>
		                <option value="Impact">Impact</option>
			            </select>
			          </div>
			        </div>
			        <div class="col">
			            <span class="input-group-text">Outline width</span>
			          <input type="range" min="0" max="60" value="10" class="custom-range" id="outlineWidth">
			        </div>
	      	</div>
				</div>
			</div>
			<button id="createMeme" class="btn btn-primary" type="button" href="javascript:void(0);">Create meme</button><br><hr>
			<h4>Preview</h4>
			<canvas id="memeCanvas" class="normalMeme"></canvas><br><hr>
			<input type="text" name="picture" id="imageField" style="display: none;">
			<button id="submitButton" class="btn btn-primary">Submit meme</button>
			<script src="{% static 'js/meme_creator.js' %}"></script>
			<div id="tester"></div>
		</form>

	</div>
{%endblock%}
