{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	Homepage
{% endblock %}

{% block body_block%}

<div class = "form wide-form fade-in">
		<h1>{{meme.title}}</h1>
		{% include 'meme_app/meme_frame.html' %}
</div>

<div class = "form wide-form fade-in">
		<h3>Comments</h3>
		{% if request.user.is_authenticated %}
			<form id='comment_form' method='post' action="{% url 'comment' meme.id %}">
				{% csrf_token %}
				<div class="form-group row">
					<div class="col">
						{{ comment_form.text }}
					</div>
					<div class="col">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		{% else %}
			<p id="regPageText">To write, like or dislike a comment please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a></p>
		{% endif %}
		<hr>
		<ul class="list-unstyled">
			{% for comment in comments %}
				<li class="media">
					<a href={%url 'account' comment.user.user.username %}>
						<img src="{% if comment.user.picture %}{{ MEDIA_URL }}{{ comment.user.picture }}{% else %}{% static 'images/user_default.png' %}{% endif %}" class="figure-img img-fluid smallUserIcon mr-3" alt="PlaceHolder">
					</a>
					<div class="media-body">
						<div class="comment-inline">
							<h5 class="mt-10"><a href={%url 'account' comment.user.user.username %}>{{comment.user.user.username}}</a></h5>
							<p id="regPageText">{{comment.date}}</p>
						</div>
						<p>{{comment.text}}</p>
						{% if request.user.is_authenticated %}
						<div class="form-group ">
							<a class="btn btn-primary" title="Like comment" href="{% url 'rate' type='comment' id=comment.id %}?value=1"><img src="{% static 'images/like.png' %}" class="figure-img img-fluid smallLikeIcon" alt="Like"> :{{comment.likes}}</a>
							<a class="btn btn-danger" title="Dislike comment" href="{% url 'rate' type='comment' id=comment.id %}?value=-1"><img src="{% static 'images/dislike.png' %}" class="figure-img img-fluid smallLikeIcon likeToDislike" alt="Dislike"> : {{comment.dislikes}}</a>
						</div>
						{else}
							<p><img src="{% static 'images/like.png'%}" class="smallLikeIcon"> {{comment.likes}}  | {{ comment.dislikes }} <img src="{% static 'images/dislike.png'%}" class="smallLikeIcon"></p>
						{% endif %}
					</div>
				</li>
			<hr>
			{% endfor %}
		</ul>

</div>
{%endblock%}
