{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	Homepage
{% endblock %}

{% block body_block%}

<div class = "form wide-form fade-in">
		<h1>{{meme.title}}</h1>
		{% include 'meme_app/meme_frame.html' %}
</div>

<div class = "form wide-form fade-in">
		<h3>Comments</h3>
		<form>
			<div class="form-group row">
				<div class="col">
					<input class="form-control" type="text" placeholder="Please enter a comment">
				</div>
				<div class="col">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
		<hr>
		<div>
			{% for comment in comments %}
			<div class = "row">
				<div class="col-1">
					<img src="{% if comment.user.picture %}{{ MEDIA_URL }}{{ comment.user.picture }}{% else %}{% static 'images/user_default.png' %}{% endif %}" class="figure-img img-fluid smallUserIcon" alt="PlaceHolder">
				</div>
				<div class="col-11">
					<div>{{comment.user.name}}</div><div>{{comment.date}}</div>
				</div>
			</div>
			<p>{{comment.text}}</p>
			<div class="form-group ">
				<a class="btn btn-primary" href="{% url 'rate' type='comment' id=comment.id %}?value=1">Like: {{comment.likes}}</a>
				<a class="btn btn-danger" href="{% url 'rate' type='comment' id=comment.id %}?value=-1">Dislike: {{comment.dislikes}}</a>
			</div>
			{% endfor %}
		</div>

</div>
{%endblock%}
