{% load static %}
<figure class = "figure center-figure normalMeme">
	<a href="{% url 'meme' meme.id %}">
		<img src="{{ MEDIA_URL }}{{ meme.picture }}" class="figure-img img-fluid" alt="PlaceHolder">
	</a>
	<a href="{% url 'account' meme.user.user.username %}">
		<figcaption class="figure-caption text-center">
			{{meme.user.user.username}}<br/>
			<img src="{% if meme.user.picture %}{{ MEDIA_URL }}{{ meme.user.picture }}{% else %}{% static 'images/user_default.png' %}{% endif %}" class="figure-img img-fluid smallUserIcon" alt="PlaceHolder">
		</figcaption>
	</a>
	<div class="form-group text-center">
	<br>Likes: {{meme.likes}}
	<br>Dislikes: {{meme.dislikes}}
	</div>
	{% if request.user.is_authenticated %}
	<div class="form-group text-center">
		<a class="btn btn-primary" title="Like" href="{% url 'rate' type='meme' id=meme.id %}?value=1"><img src="{% static 'images/like.png' %}" class="figure-img img-fluid smallLikeIcon" alt="Like"></a>
		<a class="btn btn-danger" title="Dislike" href="{% url 'rate' type='meme' id=meme.id %}?value=-1"><img src="{% static 'images/dislike.png' %}" class="figure-img img-fluid smallLikeIcon likeToDislike" alt="Dislike"></a>
	</div>
	{%else%}
		<p id="regPageText">To Like or Dislike a meme please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a></p>
	{%endif%}
</figure>
