{% load static %}

	<div class = "card-columns">
	{% for meme in memes %}
		<div class="card">
			<a href="{% url 'meme' meme.id %}">
				<img src="{{ MEDIA_URL }}{{ meme.picture }}" class="figure-img img-fluid center-figure" alt="PlaceHolder">
			</a>
			
			<div class="card-body">
			<a href="{% url 'account' meme.user.user.username %}">
				<p class="figure-caption text-center">{{meme.user.user.username}}<br/>
					<img src="{% if meme.user.picture %}{{ MEDIA_URL }}{{ meme.user.picture }}{% else %}{% static 'images/user_default.png' %}{% endif %}" class="figure-img img-fluid smallUserIcon" alt="PlaceHolder">
				</p>
			</a>
			<div class="text-center">Likes: {{meme.likes}}</div>
			
			</div>
		</div>
	{% endfor %}
	</div>
