{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	Homepage
{% endblock %}

{% block body_block%}

<div class = "form wide-form fade-in">
		<h1>{{meme.title}}</h1>
		{% include 'meme_app/meme_frame.html' %}
</div>

<div class = "form wide-form fade-in">
		<h3>Comments</h3>
		{% if request.user.is_authenticated %}
			<form id='comment_form' method='post' action="#">
				<div class="form-group row">
					<div class="col">
						{{ comment_form.text }}
					</div>
					<div class="col">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		{% else %}
			<p id="regPageText">To Like or Dislike a meme please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a></p>
		{% endif %}
		<hr>
		<div>
			{% for comment in comments %}
			<div class = "row">
				<div class="col-2">
					<a href={%url 'account' comment.user.user.username %}><div>{{comment.user.user.username}}</div>
					<img src="{% if comment.user.picture %}{{ MEDIA_URL }}{{ comment.user.picture }}{% else %}{% static 'images/user_default.png' %}{% endif %}" class="figure-img img-fluid smallUserIcon" alt="PlaceHolder"></a>
					<div>{{comment.date}}</div>
				</div>
				<div class="col-10 comment-padding">
					<p>{{comment.text}}</p>
					{% if request.user.is_authenticated %}
					<div class="form-group ">
						<a class="btn btn-primary" href="{% url 'rate' type='comment' id=comment.id %}?value=1">Like: {{comment.likes}}</a>
						<a class="btn btn-danger" href="{% url 'rate' type='comment' id=comment.id %}?value=-1">Dislike: {{comment.dislikes}}</a>
					</div>
					{% endif %}
				</div>
			</div><hr>
			
			
			{% endfor %}
		</div>

</div>
{%endblock%}
