{% load static %}

	<div class = "row">
	{% for meme in memes %}
		<div class="col-md-4 fixed-size-col">
			<figure class = "figure center-figure smallMeme">
				<a href="{% url 'meme' meme.id %}">
					<img src="{{ MEDIA_URL }}{{ meme.picture }}" class="figure-img img-fluid" alt="PlaceHolder">
				</a>
				<a href="{% url 'account' meme.user.user.username %}">
					<figcaption class="figure-caption text-center">{{meme.user.user.username}}<br/>
						<img src="{% if meme.user.picture %}{{ MEDIA_URL }}{{ meme.user.picture }}{% else %}{% static 'images/user_default.png' %}{% endif %}" class="figure-img img-fluid smallUserIcon" alt="PlaceHolder">
					</figcaption>
				</a>
				<br>Likes: {{meme.likes}}
			</figure>
		</div>
	{% endfor %}
	</div>
