{% load static %}
<figure class = "figure center-figure normalMeme">
	<a href="#">
		<img src="meme.picture" class="figure-img img-fluid" alt="PlaceHolder">
	</a>
	<a href="{% url 'account' meme.user.user.username %}">
		<figcaption class="figure-caption text-center">{{meme.user.name}}<br/>
		<img src="{% if user.picture %}user.picture{% else %}{% static 'images/user_default.png' %}{% endif %}" class="figure-img img-fluid smallUserIcon" alt="PlaceHolder">
	</a>
	</br>Likes: {{meme.likes}}
	</br>Dislikes: {{meme.dislikes}}
	<form> <!-- Only show if user is logged in -->
		<div class="form-group ">
			<button class="btn btn-success" title="Like"><img src="{% static 'images/like.png' %}" class="figure-img img-fluid smallLikeIcon" alt="Like"></button>
			<button class="btn btn-danger" title="Dislike"><img src="{% static 'images/dislike.png' %}" class="figure-img img-fluid smallLikeIcon likeToDislike" alt="Dislike"></button>
		</div>
	</form>
	</figcaption>
</figure>