{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	Register
{% endblock %}

{% block body_block%}
<div class="form fade-in narrow-form">
	{% if registered %}
		<div class="text-center lead">
			Thanks for registering! <br>
			You will be redirected in 3s, if it doesn't automatically redirect you then click <a href="{% url 'login' %}">here</a>
			<script> window.setTimeout(function () { location.href = "{% url 'login' %}"; }, 3000); </script>
		</div>
	{% else %}
		<h2 class="text-center">Create New Account</h2>
		<form id='user_form' method='post' action="{% url 'register' %}">
			{% csrf_token %}
			{% if user_form.errors %}
		    {% for field in user_form %}
		        {% for error in field.errors %}
							<div class="alert alert-danger">
								<a class="close" href="#" data-dismiss="alert">×</a>
					      {{ error|escape }}
							</div>
		        {% endfor %}
		    {% endfor %}
			{% endif %}
			{% if profile_form.errors %}
		    {% for field in user_form %}
		        {% for error in field.errors %}
							<div class="alert alert-danger">
								<a class="close" href="#" data-dismiss="alert">×</a>
					      {{ error|escape }}
							</div>
		        {% endfor %}
		    {% endfor %}
			{% endif %}
			{% for message in messages %}
				<div class="alert alert-danger">
					<a class="close" href="#" data-dismiss="alert">×</a>
		      {{ message }}
				</div>
			{% endfor %}
			<div class="form-group">
		    <p id="regPageText">Username:</p>
		    {{ user_form.username }}
		  </div>
			<div class="form-group">
		    <p id="regPageText">Name:</p>
	      <div class="form-row">
		      <div class="col">
		        {{ user_form.first_name }}
		      </div>
		      <div class="col">
		        {{ user_form.last_name }}
		      </div>
	    	</div>
				<div class="form-group">
			    <p id="regPageText">E-mail address:</p>
			    {{ user_form.email }}
			  </div>
		  </div>
			<div class="form-group">
		    <p id="regPageText">Date of Birth:</p>
		    <div class="form-row">
					{{ profile_form.dob }}
		    </div>
		  </div>
			<div class="form-group">
		    <p id="regPageText">Please enter and retype password:</p>
		    {{ user_form.password }}
		  </div>
		  <div class="form-group">
		    {{ user_form.confirm_password }}
		  </div>
			<div class="form-check">
			 	<input type="checkbox" name="tos" class="form-check-input" id="tos" required>
			  <label class="form-check-label" for="tos"> Have you read and accepted the <a href="{% url 'tandc' %}" target="_blank"><b>T&C</b></a> and <a href="{% url 'privacy' %}" target="_blank"><b>Privacy Policy</b></a>? </label>
		  </div>
			<br>
		  <div class="form-group">
		    <button type="submit" class="btn btn-success btn-block">Register</button>
		  </div>
		</form>
	{% endif %}
</div>
{%endblock%}
