{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	Top Memes
{% endblock %}

{% block body_block%}

{% if top_memes %}
	{% for title, memes in top_memes.items %}
		{% if memes %}
			<div id="trending" class="form wide-form fade-in">
			<h3>
				{{ title }}
				{% if title != 'Popular Memes' %}
					<a href="{% url 'category' title %}"><i class="fas fa-link"></i></a>
				{% endif %}
			</h3>
				{% include 'meme_app/memeview.html' with memes=memes%}
			</div>
		{% endif %}
	{% endfor %}
{% else %}
		<div id="trending" class="form wide-form fade-in">
			<strong>Currently no trending memes.</strong>
		</div>
{% endif %}

{%endblock%}
