{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	{{user.name}}
{% endblock %}

{% block body_block%}
<div class = "form wide-form fade-in">
		<h1>{{user.name}}</h1>
		<hr>
		<div class="row">
			<div class="col">
				<img src="{% if user.picture %}user.picture{% else %}{% static 'images/user_default.png' %}{% endif %}" class="figure-img img-fluid mediumUserIcon" alt="PlaceHolder">
			</div>
			<div class="col">
				<p>{{user.bio}}</p>
			</div>
		</div>
		<hr>
		<p>Total memes:</p>
		<p>Total likes:</p>
		<p>Total dislikes:</p>
		<hr>
</div>


<div class = "form wide-form fade-in">
		{% include 'meme_app/memeview.html' %}
</div>
{%endblock%}