{% extends 'meme_app/base.html' %}
{% load static %}
{% block title_block %}
	UserName
{% endblock %}

{% block body_block%}
<div class = "form wide-form fade-in">
		<h1>Username</h1>
		<hr>
		<div class="row">
			<div class="col">
				<img src="{% static 'images/user_default.png' %}" class="figure-img img-fluid mediumUserIcon" alt="PlaceHolder">
			</div>
			<div class="col">
				<p>Short Biography</p>
			</div>
		</div>
		<hr>
		<p>Total memes:</p>
		<p>Total likes:</p>
		<p>Total dislikes:</p>
		<hr>
</div>


<div class = "form wide-form fade-in">
		{% include 'meme_app/memeview.html' %}
</div>
{%endblock%}