body {
	background-attachment:fixed;
	height:100%;
	background-image: linear-gradient(#e91e63, #af1dd2);
}
.bodycontent{
	margin-top:80px;
}

.grey-border{
	border:1px solid rgba(170,170,170,0.5);
}
.center-figure {
	display: table;
	margin-right: auto;
	margin-left: auto;
}


.narrow-form{
	max-width: 500px;
}
.wide-form{
	max-width: 1000px;
}
.form {
    	margin-bottom: 15px;
        background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter:blur(5px);
		-webkit-backdrop-filter:blur(5px);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
		margin: 50px auto;
		
}
.form h2 {
        margin: 0 0 15px;
}



.fullLength{
	width: 100%;
}
#regPageText{
	color:#606060;
	margin: 0;
}

.fade-in{
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fade-in;
	animation-name: fade-in;
}


@-webkit-keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
         }
         
@keyframes fade-in {
	0% {opacity: 0;}
    100% {opacity: 1;}
}

.comment-padding{
	padding-top: 15px;
}

.smallMeme{
	max-width:280px;
	max-height:280px;
}
.normalMeme{
	max-width:800px;
	max-height:800px;
}

.smallUserIcon{
	width:80px;
	height:80px;
}
.smallLikeIcon{
	max-width:20px;
	max-height:20px;
	
}
.likeToDislike{
	position: relative;
	top: -50%;
	transform: translateY(30%);
}

.mediumUserIcon{
	max-width:120px;
	max-height:120px;
}

.card{
	background-color:rgba(150,150,150,0.3);
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}
@media (min-width: 630px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 950px) {
    .card-columns {
        column-count: 3;
    }
}