<!DOCTYPE html>
{% load static %}

<html>
	<head lang="en">
		<!-- META DATA -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Unsupported Browser</title>
		<!-- CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div id="trending" class="form narrow-form">
			<h3>Your browser is not supported, please consider switching to Chrome/Edge/Safari/Opera</h3>
		</div>
	</body>
</html>
